{% extends 'reservas/base.html' %}

{% block title %}Login - Agendador IFF{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-header bg-success text-white text-center">
          <h4>Acesso ao Sistema</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
              </div>
            {% endfor %}

            {% if form.errors %}
              <div class="alert alert-danger small">Usuário ou senha incorretos.</div>
            {% endif %}

            <div class="d-grid">
              <button type="submit" class="btn btn-success">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    var inputs = document.querySelectorAll('input');
    inputs.forEach(function(input) {
        input.classList.add('form-control');
    });
  </script>
{% endblock %}
