{% extends 'reservas/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Cadastrar Nova Sala</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label fw-bold">{{ field.label }}</label>
                                {{ field }}

                                {% if field.help_text %}
                                    <small class="text-muted">{{ field.help_text }}</small>
                                {% endif %}

                            </div>
                        {% endfor %}

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Salvar Sala</button>
                            <a href="{% url 'list_rooms' %}" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
