{% extends 'reservas/base.html' %} {% block title %}Reservar Sala{% endblock %}
{% block content %}
    <h1>Salas e Laboratórios disponíveis</h1>
    
    <ul class="list-group">
        {% for room in rooms %}
        <li class="list-group-item">
            <strong>{{ room.name }}</strong>
            ({{ room.get_type_display }}) - Capacidade: {{ room.capacity }} pessoas

            <br>
            <a href="{% url 'room_details' room.id %}">Ver Agenda e Ocupação</a>
            <hr>
        </li>
        {% empty %}
            <p>Nenhuma sala cadastrada no sistema.</p>
        {% endfor %}
    </ul>
{% endblock %}