{% extends 'reservas/base.html' %}

{% block title %}Reservar Sala{% endblock %}

{% block content %}
    <h2>Minhas reservas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data</th>
                <th>Horário</th>
                <th>Sala</th>
                <th>Motivo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.date|date:"d/m/Y" }}</td>
                    <td>{{ reservation.start }} às {{ reservation.end }}</td>
                    <td>{{ reservation.room }}</td>
                    <td>{{ reservation.justification|default:"-" }}</td>
                    <td>
                        <a href="{% url 'cancel_reservation' reservation.id %}"
                           class="btn btn-sm btn-outline-danger">Cancelar</a>
                    </td>
                </tr>
            {% empty %}
                <td colspan="5">Esta sala está livre! Nenhum agendamento futuro.</td>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
